<div class="large-12 columns">

	<div class="row">
		<div class="large-11 large-centered columns" style="text-align:center">
			<% if @charity == nil %>
				<%= image_tag("http://placehold.it/887x250&text=Placeholder", style: "box-shadow: 0 0 20px #444") %>
			<% elsif @charity.header_image.url == nil %>
				<%= image_tag("http://placehold.it/887x250&text=Placeholder", style: "box-shadow: 0 0 20px #444") %>
			<% else %>
				<%= image_tag(@charity.header_image.to_s, style: "box-shadow: 0 0 20px #444") %>
			<% end %>
		</div>
	</div>

	<div class="row" style="margin-top: 30px;">
		<div class="large-5 columns" style="padding: 10px 15px; box-shadow: 0 0 3px #999; border: solid 1px #555; text-align: justify; margin-left: 20px;">
			<p><b>This is where the static info goes.</b><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nisi vel justo laoreet suscipit. Cras molestie sapien ligula, ut consectetur sapien scelerisque non. Mauris ornare vestibulum tempor. Donec sit amet enim suscipit, pulvinar orci id, vestibulum eros. Maecenas ac diam rhoncus quam tincidunt auctor. Suspendisse et odio vitae erat volutpat dapibus ut aliquet tortor. Mauris pellentesque, arcu eget pharetra porttitor, purus dui tristique velit, in lobortis libero nibh quis nisl. Cras gravida ipsum eget est sodales, non tristique tortor pellentesque. Nulla tellus sem, rutrum et placerat eget, congue id ipsum.</p>
		</div>
		<div class="large-6 columns right" style="padding: 10px 15px; box-shadow: 0 0 3px #999; border: solid 1px #555; text-align: justify; margin-right: 20px;">
			<% if @charity == nil %>
				<h4 style="margin-top:0">Title Goes Here</h4>
				<p><b>And Text goes here</b><br>Suspendisse et odio vitae erat volutpat dapibus ut aliquet tortor. Mauris pellentesque, arcu eget pharetra porttitor, purus dui tristique velit, in lobortis libero nibh quis nisl. Cras gravida ipsum eget est sodales, non tristique tortor pellentesque. Nulla tellus sem, rutrum et placerat eget, congue id ipsum.</p>
			<% else %>
				<h4 style="margin-top:0"><%= @charity.title %></h4>

				<p><%= @charity.text %></p>
			<% end %>
		</div>
	</div>

			
	<% unless @past_charities.empty? %>
		<div class="row">
			<div class="large-5 columns large-centered" style="padding: 10px 15px; box-shadow: 0 0 6px #999; border: solid 2px #777; text-align: justify; margin-top: 40px;">
				<div id="border_title_box" style="margin-bottom: 15px;"><h4 id="border_title">Our Past Charities</h4></div>
				<% @past_charities.each do |c| %>
					<div style="padding: 5px; 12px;"><b><li><%= c.name %></li></b></div>
				<% end %>

				<div class="row", style="margin-top: 30px;">
					<div class="large-10 large-centered columns"> 
						<div class="large-5 columns left">   
							<%= link_to 'Edit Charities', our_charities_path, class: "button radius expand alert small" %>
						</div>
						<div class="large-5 columns right">      
							<%= link_to "New Charity", new_our_charity_path, class: "button radius expand small" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row" style="margin-top: 45px;">
		<div class="large-3 large-centered columns">
			<% if @charity == nil %>
				<%= link_to 'Set Up Charity of the Month', new_charity_of_the_month_path, class: "button radius expand" %>
			<% else %>
				<%= link_to 'Edit Charity of the Month', edit_charity_of_the_month_path(@charity), class: "button radius expand" %>
			<% end %>
		</div>
	</div>
</div>