<div class="large-12 columns">


	<h2 style="margin-top: 30px; text-align:center">Data Tables</h2>
	<div class="row" style="margin-top: 60px;">
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 20px #222; border-radius: 2px;">
				<%= link_to "Rotating Images", rotating_images_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 15px #222; border-radius: 2px;">
				<%= link_to "Testimonials", testimonials_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 40px;">
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 15px #222; border-radius: 2px;">
				<%= link_to "Session Types", session_types_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 15px #222; border-radius: 2px;">
				<%= link_to "Downloads", downloads_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 40px;">
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 15px #222; border-radius: 2px;">
				<%= link_to "Events", events_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="large-10 columns large-centered" style="box-shadow: 0 0 15px #222; border-radius: 2px;">
				<%= link_to "Contacts", contact_forms_path, class: "button large expand radius", style: "margin-bottom:0" %>
			</div>
		</div>
	</div>


	<div class="row" style="margin-top: 129px;">
	</div>
</div>