<div class="large-12 columns">
	<div class="large-9 columns">
		<div class="row">
			<dl class="sub-nav">
				<dd <% if params[:category] == "Family Portraits" %> class="my_active" <% end %> class="sub_nav_header"><a href="Family Portraits">Family Portraits</a></dd>
				<dd <% if params[:category] == "High School Seniors" %> class="my_active" <% end %> class="sub_nav_header"><a href="High School Seniors">High School Seniors</a></dd>
				<dd <% if params[:category] == "Children" %> class="my_active" <% end %> class="sub_nav_header"><a href="Children">Children</a></dd>
				<dd <% if params[:category] == "Pets" %> class="my_active" <% end %> class="sub_nav_header"><a href="Pets">Pets</a></dd>
				<dd <% if params[:category] == "Executive/Profiles" %> class="my_active" <% end %> class="sub_nav_header"><a href="Executive%2FProfiles">Executive / Profiles</a></dd>
				<% if current_user %>
					<div class="large-1 right columns">
						<%= link_to 'Add', new_gallery_image_path, class: "button radius small right expand", style: "margin:0" %>
					</div>
				<% end %>
			</dl>
		</div>

		<div class="row" style="padding: 10px 10px 0px 10px; border: solid 2px #1c0205; border-radius: 4px;">			
      		<% if current_user %>
				<div class="row">
					<ul class="large-block-grid-5" style="margin:0">
						<% @images_by_category.each do |gallery_image| %>
							<li style="margin: 0; padding: 12px 7px; text-align:center">
								<div style="height: 130px; text-align: center">
									<%= link_to image_tag(gallery_image.image, class: "gallery_image", style: "max-height: 120px;"), gallery_image %>
								</div>
								<div class="large-6 columns left" style="font-size: 13px;">
									<div class="large-10 columns large-centered">
										<%= link_to 'Edit', edit_gallery_image_path(gallery_image), class: "button radius tiny expand secondary" %>
									</div>
								</div>
								<div class="large-6 columns right" style="font-size: 13px;">
									<div class="large-10 columns large-centered">
										<%= link_to 'Destroy', gallery_image, method: :delete, data: { confirm: 'Are you sure?' }, class: "button radius alert tiny expand" %>
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			<% else %>			 
				<ul class="large-block-grid-5">
					<% l = 0 %>
					<% @images_by_category.each do |gallery_image| %>
						<% l = l+1 %>
						<li style="margin: 0; padding: 12px 7px; text-align:center; margin-bottom: 20px;">
							<%= link_to(image_tag(gallery_image.image, class: 'gallery_image', style: "max-height: 120px;"), '#', :'data-reveal-id' => "galleryModal", :'data-orbit-link' => "picture_#{l}" ) %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<div class="large-3 columns" style="padding: 30px 15px;">
		<% if params[:category] == "Family Portraits" %>
			<h5 style="text-align:center">Family Portraits</h5>
		<% elsif params[:category] == "High School Seniors" %>
			<h5 style="text-align:center">High School Seniors</h5>
		<% elsif params[:category] == "Children" %>
			<h5 style="text-align:center">Children</h5>
		<% elsif params[:category] == "Pets" %>
			<h5 style="text-align:center">Pets</h5>
		<% elsif params[:category] == "Executive/Profiles" %>
			<h5 style="text-align:center">Executives / Profiles</h5>
		<% end %>
	</div>
</div>

<div id="galleryModal" class="reveal-modal">
	<div class="preloader"></div>
	<ul data-orbit data-options="animation: fade; variable_height: true; animation_speed: 500; timer_speed: 1000000; pause_on_hover: true; resume_on_mouseout: false; navigation_arrows: true; slide_number: true; bullets: false; timer: false;">
		<% s = 0 %>
		<% @images_by_category.each do |gallery_image| %>
			<% s = s+1 %>
			<li style="padding: 10px;" data-orbit-slide="<%= "picture_#{s}" %>">
				<%= image_tag(gallery_image.image, style:"margin: 0 auto; box-shadow: 0 0 8px #555; max-height: 600px; margin-bottom: 30px;") %>
			</li>
	  	<% end %>
	</ul>
	<a class="close-reveal-modal">&#215;</a>
</div>