<!-- data-options="pause_on_hover: true; animation_speed: 500; slide_number: false;" -->
<% @orbit_options = "animation: fade; bullets: false; navigation_arrows: false; timer_speed: 4000; resume_on_mouseout: true;" %>

<div class="large-12 columns">

	<div class="row">
		<div class="large-11 columns large-centered">
			<div class="slideshow-wrapper" style="border: solid 2px #444; height: 450px; box-shadow: 0 0 20px #666; overflow:hidden; white-space:nowrap;">
				<div class="preloader"></div>
				<ul data-orbit data-options="<%= @orbit_options %>">
					<% if @rotating_images == [] %>
						<li><%= image_tag('http://placehold.it/884x450/5f0f0f&text=Placeholder') %></li>
						<li><%= image_tag('http://placehold.it/884x450/116a78&text=Placeholder') %></li>
						<li><%= image_tag('http://placehold.it/884x450/bb1b1b&text=Placeholder') %></li>
						<li><%= image_tag('http://placehold.it/884x450/1c0205&text=Placeholder') %></li>
					<% else %>					
						<% @rotating_images.each do |r| %>
							<li><%= image_tag(r.image.url, style: "width: 100% + 1px") %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 15px;">
		<div class="large-11 columns large-centered">
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% @downloads.each do |d| %>
						<% if d.sort_order == 1 %>
							<%= link_to d.name, { action: "download", name: d.name }, { class: "button alert", style: "width: 190px;" } %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<%= link_to "Request Session", 'javascript:;', { class: "button alert", :'data-reveal-id' => "requestSessionModal", style: "width: 190px;" } %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% @downloads.each do |d| %>
						<% if d.sort_order == 2 %>
							<%= link_to d.name, { action: "download", name: d.name }, { class: "button alert", style: "width: 190px;" } %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">		
		<div class="large-11 columns large-centered">
			<!-- Change this to a grid! -->
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("families.jpg", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Families"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("seniors.jpg", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Seniors"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("pets.jpg", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Pets"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("children.jpg", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Children"} %>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 40px;">
		<div class="large-4 columns" style="padding: 5px 20px 5px 10px;">			
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @seniors.any? %>
					<% @seniors.each do |s| %>
						<blockquote><%= s.testimonial %>
						<cite><%= s.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 20px;">
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @families.any? %>
					<% @families.each do |f| %>
						<blockquote><%= f.testimonial %>
						<cite><%= f.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 10px 5px 20px;">
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @others.any? %>
					<% @others.each do |o| %>
						<blockquote><%= o.testimonial %>
						<cite><%= o.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
	</div>
<div id="requestSessionModal" class="reveal-modal" style="top: 15px;">
	<h3 style="text-align:center">Request Info</h3>
	<%= render 'contact_forms/form', :locals => { contact_form: @contact_form = ContactForm.new, origin: @passed_origin = "front_page", back: @back_destination = root_path, cancel: @can_cancel = false } %>
	<a class="close-reveal-modal">&#215;</a>
</div>
</div>
