<!-- data-options="pause_on_hover: true; animation_speed: 500; slide_number: false;" -->
<% @orbit_options = "animation: fade; bullets: false; navigation_arrows: false; timer_speed: 4000; resume_on_mouseout: true;" %>

<div class="large-8 columns large-centered">
	<div id="newsletterModal" class="reveal-modal">
		<h3 style="text-align:center">Subscribe to our Newsletter!</h3>

		<!-- Replace with correct form after making the email list -->
		<div style="margin: 30px 0 0 0;">
			<div class="row">

			  <%= form_for @newsletter_subscription, html: {:class => "custom", :'data-abide' => ''} do |f| %>

			    <div class="row">
			      <div class="small-3 columns">
			        <%= f.label :name, "Name: ", class: "inline right", style: "margin-right: 20px;" %>
			      </div>
			      <div class="small-8 columns left">
			        <%= f.text_field :name, required:'' %>
			        <small class="error">Can't be blank</small>
			      </div>
			    </div>
			    <div class="row">
			      <div class="small-3 columns">
			        <%= f.label :email, "E-Mail: ", class: "right inline", style: "margin-right: 20px;" %>
			      </div>
			      <div class="small-8 columns left">
			        <%= f.email_field :email, required:'' %>
			        <small class="error">Please enter a Valid Email</small>
			      </div>
			    </div>

			    <%= hidden_field_tag "origin", "front_page" %>

			    <div class="row" style="margin-top: 30px">
			      <div class="small-10 small-centered columns"> 
			        <div class="small-5 columns left">   
			          <%= link_to "Skip", { action: "newsletter" }, { class: "button secondary right expand close_modal" } %>
			        </div>
			        <div class="small-5 columns right">      
			          <%= f.submit "Subscribe", class: "button expand" %>
			        </div>
			      </div>
			    </div>
		    <% end %>
		  </div>
		</div>

		
		<%#= render 'contact_forms/form', contact_form: @contact_form = ContactForm.new, origin: @passed_origin = "front_page", back: @back_destination = root_path, cancel: @can_cancel = false, request_type: "Reservation" %>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>

<div class="large-12 columns">
	<div class="row">		
		<div class="large-11 columns large-centered">
			<div class="slideshow-wrapper" style="border: solid 2px #444; box-shadow: 0 0 20px #666; overflow:hidden; white-space:nowrap; height: 454px;">
				<div class="preloader"></div>
				<ul data-orbit data-options="<%= @orbit_options %>">
					<% if @rotating_images == [] %>
						<li><%= image_tag('http://placehold.it/1570x800/5f0f0f&text=Placeholder', onContextMenu: "return false;") %></li>
						<li><%= image_tag('http://placehold.it/884x450/116a78&text=Placeholder', onContextMenu: "return false;") %></li>
						<li><%= image_tag('http://placehold.it/884x450/bb1b1b&text=Placeholder', onContextMenu: "return false;") %></li>
						<li><%= image_tag('http://placehold.it/884x450/1c0205&text=Placeholder', onContextMenu: "return false;") %></li>
					<% else %>					
						<% @rotating_images.each do |r| %>
							<li><%= image_tag(r.image.url, onContextMenu: "return false;") %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<h5 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-style: italic; margin: 20px 0 20px 0; text-align:center; font-size: 17px;">"The true Heart of our studio is an atmosphere of being kind, friendly, playful and joyful" <span style="font-size: 13px">-Trenton Bahr</span></h5>
	<div class="row" style="margin-top: 20px;">
		<div class="large-11 columns large-centered">
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% unless Newsletter.first == nil %>
						<%= link_to 'Newsletter', 'javascript:;', { class: "button alert", :'data-reveal-id' => 'newsletterModal', style: 'width: 190px;' } %>
					<%# else %>
						<%# @downloads.each do |d| %>
							<%# if d.sort_order == 1 %>
								<%#= link_to d.name, { action: "download", name: d.name }, { class: "button alert", style: "width: 190px;" } %>
							<%# end %>
						<%# end %>
					<% end %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<%= link_to "Request Session", 'javascript:;', { class: "button alert", :'data-reveal-id' => "requestSessionModal", style: "width: 190px;" } %>
					<% content_for :modals do %>
						<div id="requestSessionModal" class="reveal-modal">
							<h3 style="text-align:center">Request Info</h3>
							<%= render 'contact_forms/form', contact_form: @contact_form = ContactForm.new, origin: @passed_origin = "front_page", back: @back_destination = root_path, cancel: @can_cancel = false, request_type: "Reservation" %>
							<a class="close-reveal-modal">&#215;</a>
						</div>
					<% end %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% @downloads.each do |d| %>
						<% if d.sort_order == 1 %>
							<%= link_to d.name, { action: "download", name: d.name }, { class: "button alert", style: "width: 190px;" } %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">		
		<div class="large-11 columns large-centered">
			<% @categories.each do |c| %>
				<div class="small-6 large-3 columns" style="padding: 10px;">
					<div class="large-12 columns">
						<%= link_to image_tag(c.image.url, style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => c.name} %>
					</div>
				</div>
			<% end %> 
		</div>
	</div>

	<div class="row" style="margin-top: 40px;">
		<div class="large-4 columns" style="padding: 5px 20px">			
			<div class="quote" style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 100px;">
				<% if @seniors.any? %>
					<% @seniors.each do |s| %>
						<div style="color: #333; line-height: 26px; font-style: italic;">
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
								<%= s.testimonial %>
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
							<div style="text-align: right; font-style: normal; margin-right: 15px; color: #555; font-size: 14px;">
								- <%= s.firstname %>
							</div>
						</div>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 20px;">
			<div class="quote" style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 100px;">
				<% if @families.any? %>
					<% @families.each do |f| %>
						<div style="color: #333; line-height: 26px; font-style: italic;">
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
								<%= f.testimonial %>
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
							<div style="text-align: right; font-style: normal; margin-right: 15px; color: #555; font-size: 14px;">
								- <%= f.firstname %>
							</div>
						</div>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 20px">
			<div class="quote" style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 100px;">
				<% if @others.any? %>
					<% @others.each do |o| %>
						<div style="color: #333; line-height: 26px; font-style: italic;">
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
								<%= o.testimonial %>
							<h3 style="display:inline; font-family: 'Times New Roman', Times, serif; line-height: 24px; font-style: italic;">"</h3>
							<div style="text-align: right; font-style: normal; margin-right: 15px; color: #555; font-size: 14px;">
								- <%= o.firstname %>
							</div>
						</div>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
	</div>



</div>
