<!-- data-options="animation: fade; pause_on_hover: true; animation_speed: 500; slide_number: false;" -->
<% @orbit_options = "bullets: false; navigation_arrows: false; timer_speed: 5000; resume_on_mouseout: true;" %>

<div class="large-12 columns">

	<div class="row">
		<div class="large-11 columns large-centered" style="border: solid 2px #444; height: 450px; box-shadow: 0 0 20px #666; overflow:hidden">
			<div class="slideshow-wrapper" style="height: 446px;">
				<ul data-orbit data-options="<%= @orbit_options %>">
					<% if @rotating_images == [] %>
						<li><%= image_tag('http://placehold.it/884x446&text=Placeholder') %></li>
					<% else %>					
						<% @rotating_images.each do |r| %>
							<li><%= image_tag(r.image.url) %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 15px;">
		<div class="large-11 columns large-centered">
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% @downloads.each do |d| %>
						<% if d.sort_order == 1 %>
							<%= link_to d.name, { action: "download", name: d.name }, { class: "button alert radius", style: "width: 190px;" } %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<%= link_to "Request Session", 'javascript:;', { class: "button alert radius", style: "width: 190px;" } %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="large-12 large-centered" style="height: 50px; text-align:center">
					<% @downloads.each do |d| %>
						<% if d.sort_order == 2 %>
							<%= link_to d.name, { action: "download", name: d.name }, { class: "button alert radius", style: "width: 190px;" } %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">		
		<div class="large-11 columns large-centered">
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("http://placehold.it/200x150/AB0000/ffffff&text=placeholder", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Families"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("http://placehold.it/200x150/2D0059/ffffff&text=placeholder", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Seniors"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("http://placehold.it/200x150/FFF7DB/777777&text=placeholder", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Children"} %>
				</div>
			</div>
			<div class="large-3 columns" style="padding: 10px;">
				<div class="large-12 columns">
					<%= link_to image_tag("http://placehold.it/200x150/452500/ffffff&text=placeholder", style: "border: solid 1px #666; box-shadow: 0 0 12px #555;"), {:controller => "viewable", :action => "gallery", :category => "Pets"} %>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 40px;">
		<div class="large-4 columns" style="padding: 5px 20px 5px 10px;">			
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @seniors.any? %>
					<% @seniors.each do |s| %>
						<blockquote><%= s.testimonial %>
						<cite><%= s.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 20px;">
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @families.any? %>
					<% @families.each do |f| %>
						<blockquote><%= f.testimonial %>
						<cite><%= f.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
		<div class="large-4 columns" style="padding: 5px 10px 5px 20px;">
			<div style="border: solid #888 1px; border-radius: 4px; padding: 10px; min-height: 200px;">
				<% if @others.any? %>
					<% @others.each do |o| %>
						<blockquote><%= o.testimonial %>
						<cite><%= o.firstname %></cite><blockquote>
					<% end %>
				<% else %>
					<h4 style=" text-align:center; color: #666">No Testimonials available for this category.</h4>
				<% end %>
			</div>
		</div>
	</div>

</div>


