<style>
	p{
		text-align: justify;
		margin-bottom: 9px;
	}
</style>

<div class="large-12 columns" style="padding: 15px; text-align: justify;">
	<div class="large-6 columns right" style="margin-left: 40px;">
		<% if @session_info == nil || @session_info.video_link == "" %>
			<div style="box-shadow: 0 0 10px #333;">
				<%= image_tag("http://placehold.it/676x380&text=Video+Placeholder") %>
			</div>
		<% else %>
			<div class="flex-video" style="box-shadow: 0 0 15px #333;">
				<iframe src=<%= @session_info.video_link+"?autoplay=0" %> frameborder="0" allowfullscreen></iframe>
			</div>
		<% end %>
	</div>

	<h3>What to Expect</h3>
	<% if @session_info == nil || @session_info.what_to_expect == "" %>
		<p><b>This is where the text goes.</b><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nisi vel justo laoreet suscipit. Cras molestie sapien ligula, ut consectetur sapien scelerisque non. Mauris ornare vestibulum tempor. Donec sit amet enim suscipit, pulvinar orci id, vestibulum eros. Maecenas ac diam rhoncus quam tincidunt auctor. Suspendisse et odio vitae erat volutpat dapibus ut aliquet tortor. Mauris pellentesque, arcu eget pharetra porttitor, purus dui tristique velit, in lobortis libero nibh quis nisl. Cras gravida ipsum eget est sodales, non tristique tortor pellentesque. Nulla tellus sem, rutrum et placerat eget, congue id ipsum.</p>
	<% else %>
		<%= render :inline => @session_info.what_to_expect %>
	<% end %>

	<% if current_user %>
		<div class="row" style="margin-top: 50px;">
			<div class="large-3 large-centered columns">
				<% if @session_info == nil %>
					<%= link_to 'Set Up Session Info', new_session_info_path, class: "button radius expand" %>
				<% else %>
					<%= link_to 'Edit Session Info', edit_session_info_path(@session_info), class: "button radius expand" %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>