<div class="large-7 large-centered columns" style="margin-top: 50px;">
	<h2 style="text-align:center">Log In</h2>

	<%= form_tag sessions_path do %>
	    <div class="row">
	      <div class="large-2 columns">
	        <%= label_tag :username, "Username: ", class: "inline right", style: "margin-right: 20px;" %>
	      </div>
	      <div class="large-9 columns left">
	        <%= text_field_tag :username, params[:username] %>
	      </div>
	    </div>

	    <div class="row">
	      <div class="large-2 columns">
	        <%= label_tag :password, "Password: ", class: "inline right", style: "margin-right: 20px;" %>
	      </div>
	      <div class="large-9 columns left">
	        <%= password_field_tag :password %>
	      </div>
	    </div>

	    <div class="row" style="margin-top: 65px;">
	      <div class="large-8 large-centered columns"> 
	        <div class="large-5 columns left">   
	          <%= link_to 'Cancel', root_path, class: "button radius expand alert" %>
	        </div>
	        <div class="large-5 columns right">      
	          <%= submit_tag "Submit", class: "button radius expand" %>
	        </div>
	      </div>
	    </div>
	<% end %>
</div>
