<h3 style="text-align:center;">Listing Employees</h3>

<div class="row">
  <div class="large-3 large-centered columns">
      <%= link_to 'New Employee', new_employee_path, class: "button radius expand small" %>
  </div>
</div>

<% @employees.each do |employee| %>
  <div class="large-6 columns" style="padding: 10px;">
    <div class="large-12 columns" <% if employee.current == true %>style="border: 1px solid #777; background-color: #fff;"<% else %> style="border: 1px solid #BA0404; background-color: #FFD4D4; overflow: hidden" <% end %>>
      <%= image_tag(employee.image, style: "box-shadow: 0 0 4px #444; float:left; margin-right: 12px;") %>
      <div class="large-9 columns right" style="padding: 5px 0px;">
        <h5 style="font-size: 18px; text-align:center; margin:0"><%= employee.name %>
        <h6 style="font-size: 14px; text-align:center; margin:0; font-style: italic;"><%= employee.job_title %></h6>
      </div>
      <p style="margin: 7px 0 0 0; text-align:justify; line-height: 21px; padding: 12px;"><%= employee.description %></p>
    </div>
    <div class="large-8 columns large-centered">
      <div class="large-5 columns" style="margin-top:10px;">
        <%= link_to 'Edit', edit_employee_path(employee), class: "button radius secondary expand small" %>
      </div>
      <div class="large-5 columns right" style="margin-top:10px;">
        <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "button radius alert expand small" %>
      </div>
    </div>
  </div>
<% end %>