<div class="large-7 large-centered columns" style="margin-top: 50px;">
  <%= form_for @newsletter, html: {:class => "custom", :'data-abide' => ''} do |f| %>

    <% if @newsletter.errors.any? %>
      <div class="error_messages">
        <% @newsletter.errors.full_messages.each do |message| %>
          <div data-alert id="succes_alert" class="large-9 large-centered columns alert-box alert radius" style="padding: 8px; margin: 0 auto 20px auto; text-align:center;">
            <%= message %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="large-2 columns">
        <%= f.label :description, "Description: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-9 columns left">
        <%= f.text_field :description, required:'' %>
        <small class="error">Can't be blank</small>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :file, "File: ", class: "right", style: "margin-right: 20px; margin-top: 3px;" %>
      </div>
      <div class="large-9 columns left">
        <%= f.file_field :file, required:'' %>
        <small class="error">Please Choose a File</small>
      </div>
    </div>

    <div class="row" style="margin-top: 65px;">
      <div class="large-8 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>    
</div>