<div class="large-12 columns">

  <%= form_for(@charity) do |f| %>
    <% if @charity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@charity.errors.count, "error") %> prohibited this Charity of the Month from being saved:</h2>

        <ul>
        <% @charity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="large-11 large-centered columns" style="box-shadow: 0 0 20px #444">
        <!--<div style="width: 100%; height: 250px; background-image: url(/assets/placeholder.jpg); background-repeat: no-repeat; background-position: center; background-size: 100%">-->
      <% unless @charity.header_image != "" || @charity.header_image != nil %>
        <%= image_tag(@charity.header_image.to_s) %>
      <% end %>
    </div>
  </div>
  <div class="row" style="padding: 15px 40px;">
    <div class="large-11 large-centered columns">
      <div class="large-2 columns">
        <%= f.label :header_image, "Header Image: ", class: "right", style: "margin-right: 20px; margin-top: 3px; font-weight:bold" %>
      </div>
      <div class="large-10 columns left">
        <%= f.file_field :header_image %>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 10px;">
    <div class="large-5 columns" style="padding: 10px 15px; box-shadow: 0 0 10px #666; border: solid 1px #555; text-align: justify; margin-left: 20px;">
      <p><b>This is where the static info goes.</b><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nisi vel justo laoreet suscipit. Cras molestie sapien ligula, ut consectetur sapien scelerisque non. Mauris ornare vestibulum tempor. Donec sit amet enim suscipit, pulvinar orci id, vestibulum eros. Maecenas ac diam rhoncus quam tincidunt auctor. Suspendisse et odio vitae erat volutpat dapibus ut aliquet tortor. Mauris pellentesque, arcu eget pharetra porttitor, purus dui tristique velit, in lobortis libero nibh quis nisl. Cras gravida ipsum eget est sodales, non tristique tortor pellentesque. Nulla tellus sem, rutrum et placerat eget, congue id ipsum.</p>
    </div>
    <div class="large-6 columns right" style="padding: 10px 15px; box-shadow: 0 0 10px #666; border: solid 1px #555; text-align: justify; margin-right: 20px;">
      <div class="row">
        <div class="large-1 columns">
          <%= f.label :title, "Title: ", class: "inline", style: "font-weight: bold" %>
        </div>
        <div class="large-11 columns", style="padding-left: 10px;">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :text, "Text: ", style: "font-weight: bold" %>
          <%= f.text_area :text, style: "height: 200px;" %>
        </div>
      </div>
    </div>
  </div>


    <div class="row" style="margin-top: 25px;">
      <div class="large-4 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>

  <% end %>






</div>