<div class="large-9 large-centered columns">
  <%= form_for @user, html: {:class => "custom", :'data-abide' => ''} do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <% @user.errors.full_messages.each do |message| %>
          <div data-alert id="succes_alert" class="large-9 large-centered columns alert-box alert radius" style="padding: 8px; margin: 0 auto 20px auto; text-align:center;">
            <%= message %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>

    <h2 style="text-align:center; margin-top: 50px;">Create User</h2>
    <div class="row">
      <div class="large-3 columns">
        <%= f.label :username, "Username: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-7 columns left">
        <%= f.text_field :username, required:'' %>
        <small class="error">Can't be blank</small>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= f.label :password, "Password: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-7 columns left">
        <%= f.password_field :password, required:'' %>
        <small class="error">Password must have at least 8 characters <br>And include at least 1 Capital Letter and 1 number</small>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= f.label :password_confirmation, "Password Confirmation: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-7 columns left">
        <%= f.password_field :password_confirmation, required:'' %>
        <small class="error">Must match Password</small>
      </div>
    </div>
    <div class="row" style="margin-top: 65px;">
      <div class="large-8 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', root_path, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
