<div class="large-12 large-centered columns" style="margin-top: 50px;">
  <%= form_for @event, html: {:class => "custom", :'data-abide' => ''} do |f| %>

    <div class="row">
      <div class="large-11 columns large-centered">
        <div class="row">
          <div class="large-2 columns">
            <%= f.label :name, "Name: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.text_field :name, required:'' %>
            <small class="error">Can't be blank</small>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <%= f.label :link_url, "Link Url: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.text_field :link_url %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <%= f.label :description, "Description: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.text_field :description %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <%= f.label :date, "Date: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.date_select :date, { id: "customDropdown", class: "medium" } %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <%= f.label :time, "Time: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.time_select :time %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <%= f.label :street, "Street: ", class: "inline right" %>
          </div>
          <div class="large-8 columns left">
            <%= f.text_field :street %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns left">
            <%= f.label :city, "City: ", class: "inline right" %>
          </div>
          <div class="large-2 columns left">
            <%= f.text_field :city %>
          </div>
          <div class="large-1 columns left" style="margin-left: -20px;">
            <%= f.label :state, "State: ", class: "inline right" %>
          </div>
          <div class="large-2 columns left">
            <%= f.text_field :state %>
          </div>
          <div class="large-1 columns left" style="width: 95px;">
            <%= f.label :zip_code, "Zip Code: ", class: "inline right" %>
          </div>
          <div class="large-2 columns left">
            <%= f.text_field :zip_code %>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 25px;">
      <div class="large-4 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>
</div>