<h3 style="text-align:center;">Listing Newsletter Subscriptions</h3>

<div class="row">
  <div class="large-3 large-centered columns">
      <%= link_to 'New Newsletter Subscription', new_newsletter_subscription_path, class: "button radius expand small" %>
  </div>
</div>


<div class="row">
  <table style="margin: 30px auto 0 auto;">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>

    <% @newsletter_subscriptions.each do |newsletter_subscription| %>
      <tr style="height: 28px;">
        <td style="width: 300px; text-align:center; padding: 1px;"><%= newsletter_subscription.name %></td>
        <td style="width: 300px; text-align:center; padding: 1px;"><%= newsletter_subscription.email %></td>
        <td style="width: 118px; text-align:center; padding: 1px;">
          <%= link_to 'Edit', edit_newsletter_subscription_path(newsletter_subscription), class: "tiny button radius secondary", style:"margin: 0;" %>
          <%= link_to 'Destroy', newsletter_subscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button radius alert", style:"margin: 0;" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

