<h3 style="text-align:center;">Package Addons</h3>

<div class="row">
  <div class="large-3 large-centered columns">
      <%= link_to 'New Addon', new_addon_path, class: "button radius expand small" %>
  </div>
</div>



<div class="row">
  <table style="margin: 20px auto 0 auto;">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Details</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>

  <% @addons.each do |addon| %>
    <tr>
      <td style="width: 150px; text-align: center;"><%= addon.name %></td>
      <td style="width: 50px; text-align: center;">$<%= addon.price %></td>
      <td style="width: 520px; text-align: center;"><%= addon.details %></td>
      <td style="width: 60px; text-align: center;"><% if addon.active == true %>Yes<% else %>No<% end %></td>
      <td style="width: 168px; text-align:center;">
        <%= link_to 'Show', addon, class: "tiny button", style: "margin: 5px 0;" %>
        <%= link_to 'Edit', edit_addon_path(addon), class: "tiny button radius secondary", style:"margin: 5px 0;" %>
        <%= link_to 'Destroy', addon, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button radius alert", style:"margin: 0;" %>
      </td>
    </tr>
  <% end %>
  </table>
</div>