<style>
  p{
    text-indent: 35px;
    text-align: justify;
    margin-bottom: 9px;
  }
</style>

<div class="large-12 columns" style="text-align: justify;">
  <%= form_for @session_info, html: {:class => "custom"} do |f| %>
    <div class="row">
      <div class="large-5 columns right">
        <br>
        <div class="row">
          <div class="large-3 columns"><%= f.label :video_link, 'Video Link: ', class: "inline right", style: "margin-right: 10px;" %></div>
          <div class="large-9 columns left"><%= f.text_field :video_link %></div>
        </div>
        <% if @session_info.id == nil || @session_info.video_link == "" %>
          <div style="box-shadow: 0 0 10px #333; width: 100%; height: 380px">
            <%= image_tag("http://placehold.it/678x380&text=Video+Placeholder") %>
          </div>
        <% else %>
          <div class="flex-video" style="box-shadow: 0 0 15px #333;">
            <iframe src=<%= @session_info.video_link %> frameborder="0" allowfullscreen></iframe>
          </div>
        <% end %>
      </div>

      <div class="large-7 columns">
        <div class="large-5 columns">
          <h3><%= f.label :what_to_expect, "What to Expect: ", style: "inline" %></h3>
        </div>
        <div class="large-7 columns" style="padding: 8px 0">
          <span style="line-height: 26px; margin: 5px;">&lt;h5&gt; Your Header &lt;/h5&gt;<br/>&lt;p&gt; Paragraph Text &lt;/p&gt;</span>
        </div>
        <%= f.text_area :what_to_expect, style: "width: 95%; height: 400px;", placeholder: "This text will be interpreted as HTML. If you want a new paragraph, put <p> at the beginning and </p> at the end of each paragraph. For a header please use <h5>Header Text</h5>" %>
      </div>
    </div>
    
    <br>
    <div class="row" style="margin-top: 25px;">
      <div class="large-7 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
