<style>
  p{
    text-indent: 35px;
    text-align: justify;
    margin-bottom: 9px;
  }

  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class="large-12 columns">
  <%= form_for @session_info, html: {:class => "custom"} do |f| %>
    <% if @session_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@session_info.errors.count, "error") %> prohibited this session_info from being saved:</h2>

        <ul>
        <% @session_info.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="large-9 columns">
        <div class="row" style="text-align:center; padding: 15px;">
          <div class="large-2 columns"><%= f.label :video_link, 'Video Link: ', class: "inline right", style: "margin-right: 10px;" %></div>
          <div class="large-10 columns left"><%= f.text_field :video_link %></div>
          <div class="row" style="text-align:center; padding: 0px 25px;">
            <div id="video_wrapper">
              <% if @session_info.id == nil || @session_info.video_link == "" %>
                <div style="box-shadow: 0 0 10px #333; width: 100%; height: 380px">
                  <%= image_tag("http://placehold.it/678x380&text=Video+Placeholder") %>
                </div>
              <% else %>
                <iframe style="box-shadow: 0 0 15px #333;" width="100%" height="380px" src=<%= @session_info.video_link %> frameborder="0" allowfullscreen></iframe>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 15px;" style="border: 1px #444 solid;">
          <div class="large-12 columns">
            <h3><%= f.label :what_to_expect, "What to Expect: ", style: "inline" %></h3>
            <span style="line-height: 23px;">&lt;h5&gt; Your Header &lt;/h5&gt;<br/>&lt;p&gt; Paragraph Text &lt;/p&gt;</span>
            <%= f.text_area :what_to_expect, style: "width: 100%; height: 400px;", placeholder: "This text will be interpreted as HTML. If you want a new paragraph, put <p> at the beginning and </p> at the end of each paragraph. For a header please use <h5>Header Text</h5>" %>
          </div>
        </div>

        <div class="row" style="margin-top: 25px;">
          <div class="large-7 large-centered columns"> 
            <div class="large-5 columns left">   
              <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
            </div>
            <div class="large-5 columns right">      
              <%= f.submit "Submit", class: "button radius expand" %>
            </div>
          </div>
        </div>
        
      </div>
      <div class="large-3 columns" style="border: 1px #444 solid; border-radius: 3px;">
        <h5 style="text-align:center">Downloads</h5>
        <% @downloads.each do |d| %>
          <div class="large-10 columns large-centered" style="margin-top: 15px;">
            <%= link_to d.name, { controller: 'viewable', action: 'download', name: d.name }, class: "button small secondary radius expand" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>