<div class="large-11 large-centered columns" style="margin-top: 50px;">
  <%= form_for @rotating_image, html: {:class => "custom", :'data-abide' => ''} do |f| %>
    <% if @rotating_image.errors.any? %>
      <div class="error_messages">
        <% @rotating_image.errors.full_messages.each do |message| %>
          <div data-alert id="succes_alert" class="large-9 large-centered columns alert-box alert radius" style="padding: 8px; margin: 0 auto 20px auto; text-align:center;">
            <%= message %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="large-5 columns" style="padding-top: 30px;">
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :image, "Image: ", class: "right", style: "margin-right: 10px; margin-top: 3px;" %>
          </div>
          <div class="large-8 columns left">
            <%= f.file_field :image %>
          </div>
        </div>

        <div class="row">      
          <div class="large-4 columns">
            <%= f.label :sort_order, "Sort Order: ", class: "inline right", style: "margin-right: 10px;" %>
          </div>
          <div class="large-4 columns left" style="margin-right:10px;">
            <%= f.number_field :sort_order, required:'' %>
            <small class="error">Enter a number</small>
          </div>

          <div class="large-3  columns left">
            <div class="large-3 columns left" style="margin-top: 6px;">
              <%= f.check_box :live %>
            </div>
            <div class="large-9 columns">
              <%= f.label :live, "Live", class: "inline left", style: "margin-right: 10px; font-weight: bold" %>
            </div>
          </div>
        </div>

    <div class="row" style="margin-top: 65px;">
      <div class="large-11 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
      </div>

      <div class="large-6 columns">
        <% if @rotating_image.image.url == nil %>
          <%= image_tag('http://placehold.it/400x250/d2d2d2&text=Placeholder', style: "box-shadow: 0 0 10px #222;") %>
        <% else %>
          <div class="large-10 large-centered columns right" style="margin: 0 0 0 15px;text-align: center">
            <%= image_tag(@rotating_image.image, style: "box-shadow: 0 0 20px #222;") %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>