<div class="large-9 large-centered columns" style="margin-top: 50px;">
  <%= form_for @rotating_image, html: {:class => "custom"} do |f| %>
    <% if @rotating_image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rotating_image.errors.count, "error") %> prohibited this rotating_image from being saved:</h2>

        <ul>
        <% @rotating_image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="large-2 columns">
        <%= f.label :image, "Image: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-9 columns left">
        <%= f.text_field :image %>
      </div>
    </div>

    <div class="row">      
      <div class="large-2 columns">
        <%= f.label :sort_order, "Sort Order: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-2 columns left" style="margin-right:30px;">
        <%= f.number_field :sort_order %>
      </div>

      <div class="large-2 columns">
        <%= f.label :rotation_time, "Rotation Time: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-2 columns left">
        <%= f.number_field :rotation_time %>
      </div>

      <div class="large-2 columns" style="margin-right: 15px;">
        <div class="large-3 columns left">
          <%= f.check_box :live %>
        </div>
        <div class="large-9 columns">
          <%= f.label :live, "Live", class: "inline left", style: "margin-right: 10px; font-weight: bold" %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 65px;">
      <div class="large-8 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>
</div>