<div class="large-10 large-centered columns" style="margin-top: 50px;">
  <%= form_for @gallery_image, html: {:class => "custom", :'data-abide' => ''} do |f| %>
    <% if @gallery_image.errors.any? %>
      <div class="error_messages">
        <% @gallery_image.errors.full_messages.each do |message| %>
          <div data-alert id="succes_alert" class="large-9 large-centered columns alert-box alert radius" style="padding: 8px; margin: 0 auto 20px auto; text-align:center;">
            <%= message %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="large-6 columns">
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :image, "Image: ", class: "inline right", style: "margin-right: 10px;" %>
          </div>
          <div class="large-8 columns left">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :category, "Category: ", class: "inline right", style: "margin-right: 10px;" %>
          </div>
          <div class="large-6 columns left">
            <%= f.select :category, ['Family Portraits', 'High School Seniors', 'Children', 'Pets', ['Executive / Profiles', 'Executive%2FProfiles']], { :prompt => "Select a Category" }, { id: "customDropdown", class: "medium", required:'' } %>
            <small class="error">Please chooose a category</small>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :sort_order, "Sort Order: ", class: "inline right", style: "margin-right: 10px;" %>
          </div>
          <div class="large-6 columns left">
            <%= f.number_field :sort_order, required:'' %>
            <small class="error">Can't be blank</small>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :caption, "Caption: ", class: "right", style: "margin-right: 10px;" %>
          </div>
          <div class="large-6 columns left">
            <%= f.text_area :caption, style: "height: 100px;" %>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <% unless @gallery_image.image.url == nil %>
          <div class="large-10 large-centered columns right" style="margin: 0 0 0 15px;text-align: center">
            <%= image_tag(@gallery_image.image, style: "box-shadow: 0 0 20px #222;") %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="row" style="margin-top: 65px;">
      <div class="large-4 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>
</div>