
<%= form_for @contact_form, html: {:class => "custom", :'data-abide' => ''} do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <div class="large-11 columns large-centered">
        <div class="row">
          <div class="large-12 columns right">
            <%= f.label :name, "Name:" %>
            <%= f.text_field :name, required:'' %>
            <small class="error">Can't be blank</small>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns right">
            <%= f.label :email, "Email:" %>
            <%= f.text_field :email, required:'' %>
            <small class="error">Can't be blank</small>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns right">
            <%= f.label :street, "Street: " %>
            <%= f.text_field :street %>
          </div>
        </div>
        <div class="row">
          <div class="large-5 columns">
            <%= f.label :city, "City: " %>
            <%= f.text_field :city %>
          </div>
          <div class="large-3 columns left">
            <%= f.label :state, "State: " %>
            <%= f.text_field :state %>
          </div>
          <div class="large-4 columns left">
            <%= f.label :zip_code, "Zip Code: " %>
            <%= f.text_field :zip_code %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns right">
            <%= f.label :phone_number, "Phone Number:" %>
            <%= f.text_field :phone_number, required:'' %>
            <small class="error">Can't be blank</small>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns right">
            <%= f.label :contact_time, "Contact Time:" %>
            <%= f.select :contact_time, ['Anytime', 'Morning', 'Afternoon', 'Evening'], { :prompt => "Select a Time" }, { id: "customDropdown", required:'' } %>
            <small class="error">Can't be blank</small>
          </div>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="large-11 columns large-centered">
        <div class="row">
          <div class="large-12 columns left">
            <%= f.label :request_type, "Request:" %>
            <%= f.select :request_type, ['Information', 'Booking', 'Charity Info'], { :default => "Information" }, { id: "customDropdown", class: "request_type_dropdown", required:'' } %>
          </div>
        </div> 

        <div class="row" id="info_fields"> 
        </div>

        <div class="row" id="booking_fields" style="display:none;">
          <div class="large-12 columns left">
            <%= f.label :session_type_id, "Session Type:" %>
            <%= f.collection_select :session_type_id, SessionType.all, :id, :name, :prompt => "Select a Session Type" %>
          </div>
          <div class="large-12 columns collapse">
            <%= f.label :preferred_date, "Preferred Date:" %>
            <div id="date_selector">
              <%= f.date_select :preferred_date, order: [:month, :day, :year] %>
            </div>
          </div>
          <div class="large-6 columns left">
            <%= f.label :preferred_time, "Preferred Time:" %>
            <%= f.select :preferred_time, ['9:00 am', '10:00 am', '11:00 am', '12:00 pm', '1:00 pm', '2:00 pm', '3:00 pm', '4:00 pm'], { :prompt => "Select Time" }, { id: "customDropdown" } %>
          </div>
          <div class="large-6 columns left">
            <%= f.label :preferred_day, "Preferred Day:" %>
            <%= f.select :preferred_day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Fiday', 'Saturday', 'Sunday'], { :prompt => "Select a Day" }, { id: "customDropdown" } %>
          </div>
        </div>

        <div class="row" id="charity_fields" style="display:none">
          <div class="large-6 columns left">
            <%= f.label :auction_type, "Auction Type:" %>
            <%= f.select :auction_type, ['Silent', 'Give Back', 'Live'], { :prompt => "Select Type" }, { id: "customDropdown" } %>
          </div>
          <div class="large-6 columns left">
            <%= f.label :preferred_time, "Time:" %>
            <%= f.select :preferred_time, ['9:00 am', '10:00 am', '11:00 am', '12:00 pm', '1:00 pm', '2:00 pm', '3:00 pm', '4:00 pm'], { :prompt => "Select Time" }, { id: "customDropdown" } %>
          </div>
          <div class="large-12 columns collapse">
            <%= f.label :preferred_date, "Date:" %>
            <div id="date_selector">
              <%= f.date_select :preferred_date, order: [:month, :day, :year] %>
            </div>
          </div>
        </div>

        <div class="large-12 columns left">
          <%= f.label :comments, "Comments / Questions / Requests:" %>
          <%= f.text_area :comments, id:"comments_text_area" %>
        </div>
      </div>
    </div>
  </div>

  <%= hidden_field_tag "origin", @passed_origin %>

  <div class="row" style="margin: 35px 0 0 0px;">
    <div class="large-6 large-centered columns"> 
      <% if @can_cancel == true %>
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', @back_destination, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      <% else %>
        <div class="large-8 columns large-centered">      
          <%= f.submit "Submit", class: "button radius expand alert" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>