<div class="large-7 large-centered columns" style="margin-top: 50px;">
  <%= form_for @testimonial, html: {:class => "custom"} do |f| %>
    <% if @testimonial.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

        <ul>
        <% @testimonial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <div class="large-2 columns">
        <%= f.label :firstname, "Citation: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-6 columns left">
        <%= f.text_field :firstname %>
      </div>
      <div class="large-3 columns right">
        <div class="large-2 columns left">
          <%= f.check_box :live %>
        </div>
        <div class="large-10 columns">
          <%= f.label :live, "Live", class: "inline left", style: "margin-right: 10px; font-weight: bold" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :category, "Category: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-6 columns left">
        <%= f.select :category, ['Seniors', 'Families', 'Others'], { :prompt => "Select a Category" }, { id: "customDropdown" } %>
      </div> 
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :testimonial, "Testimonial: ", class: "inline right", style: "margin-right: 20px;" %>
      </div>
      <div class="large-9 columns left">
        <%= f.text_area :testimonial %>
      </div>
    </div>
    <div class="row" style="margin-top: 65px;">
      <div class="large-8 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  <% end %>
</div>