<%= form_for @trenton, html: {:class => "custom"} do |f| %>
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns" style="padding: 10px 30px 10px 10px;">        
        <div class="large-2 columns"><%= f.label :image, "Image:", class: "inline", style: "font-weight: bold" %></div>
        <div class="large-10 columns"><%= f.file_field :image, style: "margin-top: 6px;" %></div>
        <% if @trenton.image.url == nil %>
          <%= image_tag("http://placehold.it/283x350&text=placeholder", style: "box-shadow: 0 0 10px #333;") %>
        <% else %>
          <%= image_tag(@trenton.image.to_s, style: "box-shadow: 0 0 10px #333;") %>
        <% end %>
      </div>
      <div class="large-8 columns" style="padding: 10px;">
        <div class="row">
          <div class="large-2 columns"><%= f.label :video_link, "Video Link:", class: "inline", style: "font-weight: bold" %></div>
          <div class="large-10 columns"><%= f.text_field :video_link %></div>
        </div>
        <div class="row">
          <div id="video_wrapper">
            <% if @trenton.id == nil || @trenton.video_link == "" %>
              <%= image_tag("http://placehold.it/641x350&text=Video+Placeholder", style: "box-shadow: 0 0 10px #333;") %>
            <% else %>
              <iframe style="box-shadow: 0 0 10px #333;" width="100%" height="350px" src="<%= @trenton.video_link %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="large-12 columns large-centered" style="padding: 0 20px;">
        <h3 style="margin-bottom: 0px;">Meet the Artist:</h3>
        <span style="line-height:25px;">&lt;h6&gt; Headers &lt;/h6&gt; (the text will get bigger if you put a smaller number in)</span><br>
        <span style="line-height:25px;">&lt;p&gt; Paragraph Text &lt;/p&gt;</span>
        <%= f.text_area :meet_the_artist_text, style: "height: 400px;", placeholder: "This text will be interpreted as HTML. If you want a new paragraph, put <p> at the beginning and </p> at the end of each paragraph" %>
      </div>
    </div>

    <div class="row" style="margin-top: 25px;">
      <div class="large-4 large-centered columns"> 
        <div class="large-5 columns left">   
          <%= link_to 'Cancel', :back, class: "button radius expand alert" %>
        </div>
        <div class="large-5 columns right">      
          <%= f.submit "Submit", class: "button radius expand" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
